.form-div{
    margin: 20px;
    form{
        display: grid;
        grid-template: 40px 40px 40px 40px/ 1fr 1fr 1fr 1fr;
        gap: 20px;
        
        button{
            grid-column: 1 / -1;
            border-radius: 5px;
        }
    }
}
