@import '../Variables/variables';

.form-div{
    margin: 20px;
}

.form{
    display: grid;
    grid-template: 40px 40px /  1fr 1fr 1fr 1fr;
    gap: 20px;
    
    button{
        grid-column: 2 / 4;
        border: 0;
        background: $gradient-color;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }

    input{
        width: 100%;
        border-radius: 5px;
        border: 1px solid grey;
        text-indent: 5px;
    }
}

.top-text{
    grid-column: 2/3;
}

.image{
    max-height: 550px;
    max-width: 100%;
    border: 5px solid black;
}

.meme-div{
    padding: 20px;
    display: flex;
    justify-content: center;
    position: relative;
}

.meme-div--top-text{
    position: absolute;
    font-size: 40px;
    color: white;
    -webkit-text-stroke: 2px black;
}

.meme-div--bottom-text{
    position: absolute;
    bottom: 30px;
    font-size: 40px;
    color: white;
    -webkit-text-stroke: 2px black;
}